/** @format */

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: #444444;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(68, 68, 68, 0.6);
	border-radius: 10px;
}

.form h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #f7c08a;
	text-align: center;
}

.form .elementBox {
	position: relative;
}

.form .elementBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
.form .elementBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}

.form .elementBox input:focus ~ label,
.form .elementBox input:valid ~ label {
	top: -20px;
	left: 0;
	color: #f7c08a;
	font-size: 12px;
}

button {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid gray;
	background: transparent;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	transition: all 0.2s;
}

button:hover {
	color: #f7c08a;

	box-shadow: 0 15px 25px rgba(194, 183, 183, 0.055);

	cursor: pointer;
}
